<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958827417773-mo7ah0ff4hb721qe84b7c14vgcf5jemk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958827417773-mo7ah0ff4hb721qe84b7c14vgcf5jemk</string>
	<key>API_KEY</key>
	<string>AIzaSyBvE80OVzegeXf1h0QJerL9Gq9-bo5SkS8</string>
	<key>GCM_SENDER_ID</key>
	<string>958827417773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joe.pleaseFuckingWork</string>
	<key>PROJECT_ID</key>
	<string>dmdgroup-bd42f</string>
	<key>STORAGE_BUCKET</key>
	<string>dmdgroup-bd42f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958827417773:ios:eb7b401245776ce1</string>
	<key>DATABASE_URL</key>
	<string>https://dmdgroup-bd42f.firebaseio.com</string>
</dict>
</plist>